.container-fluid-1{
  background-color:Gainsboro;
}
#imagesdra{
  height: 1000px;
  width: 1500px;
}
.container-fluid-2{
    background-color:Gainsboro;;
}
.ha{
  font-family: Garamond, serif;
  font-size: 30px;
}
.haa{
  font-family: Garamond, serif;
  font-size: 20px;
}
.container-fluid-2{
    background-color:Gainsboro;
}
